.sidenav {
  grid-area: sidenav;

  background-color: #fafbfc;

  padding: 3rem;

  a {
    display: block;
    min-width: 6rem;
    max-width: 10rem;

    margin: 0 auto 3rem auto;

    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
    transition: all 150ms ease-out;

    &:hover {
      background: var(--color-primary-light);
    }
  }

  @keyframes pulsate {
    from {
      right: 3rem;
    }
    to {
      right: 2rem;
    }
  }

  @media only screen and (max-width: 47.5em) {
    overflow-x: auto;
    padding: 0 3rem;
    position: relative;

    &::after {
      content: '→';
      position: absolute;
      top: 5px;
      right: 3rem;

      color: rgba(0, 0, 0, 0.3);
      animation: pulsate 0.8s ease-in 0s infinite alternate;
    }

    ul {
      display: flex;

      li {
        flex: 1 0 12rem;
      }
    }

    a {
      margin: 3rem 3rem 3rem 0px;
    }
  }
}
